/**************************************************************
* Clearfix
***************************************************************/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
/**************************************************************
* Base styles
***************************************************************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-shadow: 1px 1px 2px rgba(0,0,0, .5);
    color: black;
    background: linear-gradient(beige, dodgerblue);
    height: 100vh;
}
/**************************************************************
* Main
***************************************************************/
h1, h2, p {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto 1rem auto;
    color: black;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 0.45rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .1s linear;
    box-shadow: 0 5px 0 #999;
    text-decoration: none;
}
button:hover {
    background: linear-gradient(180deg, #FFC0CB 0%, rgba(254, 195, 167, 0.797368) 38.24%, rgba(252, 198, 115, 0.500622) 70.76%, rgba(248, 205, 26, 0) 112.21%);
}
button:active {
  box-shadow: 0 2px 0 greenyellow;
  transform: translateY(3px);
}